// Estilo del input de para ingresar los datos del usuario

.form-control {
    width: 50vh;
    display: inline-block;
}

.col-sm-10 {
    margin-top: 5px;
}

.recuperar-mi-contraseña {
    margin-top: 20px;
}